{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>
	<!-- Basic Meta Tags -->
  <meta charset="utf-8">
  <title>Ucorpora Demo</title>
	<meta name="description" content="ucorpora demo - Free Business Corporate HTML Template">
	<meta name="keywords" content="ucorpora, ucorpora demo, free, template, corporate, clean, modern, bootstrap, creative, design">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if (gte IE 9)|!(IE)]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <![endif]-->

  <!-- Favicon -->
  <link href="{% static 'templateshape/img/favicon.ico' %}" rel="icon" type="image/png">

  <!-- Styles -->
  <link href="{% static 'templateshape/css/styles.css' %}" rel="stylesheet">
  <link href="{% static 'templateshape/css/bootstrap-override.css' %}" rel="stylesheet">

  <!-- Font Avesome Styles -->
  <link href="{% static 'templateshape/css/font-awesome/font-awesome.css' %}" rel="stylesheet">
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->

  <!-- FlexSlider Style -->
  <link rel="stylesheet" href="{% static 'templateshape/css/flexslider.css' %}" type="text/css" media="screen">

	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row t-container">

        <!-- Logo -->
        <div class="span3">
          <div class="logo">
            <a href="index.htm"><img src="{% static 'templateshape/img/logo-header.png' %}" alt=""></a>
          </div>
        </div>

        <div class="span9">
          <div class="row space60"></div>
             <nav id="nav" role="navigation">
               	<a href="#nav" title="Show navigation">Show navigation</a>
	            <a href="#" title="Hide navigation">Hide navigation</a>
	            <ul class="clearfix">
	           	<li class="active"><a href="{% url 'home' %}" title="">Home</a></li>
                <li><a href="{% url 'webpage:about' %}" title="">About Us</a></li>
                <li><a href="{% url 'webpage:gallery' %}" title="">Gallery</a></li>
                <li><a href="{% url 'webpage:service' %}" title="">Services</a></li>
                <li><a href="{% url 'webpage:features' %}" title="">Features</a></li>
                <!-- <li><a href="{% url 'webpage:login_page' %}" title="">Login to other details </a></li> -->
                <li><a href="{% url 'webpage:signup_page' %}" title="">signup</a></li>
                <!-- <li><a href="{% url 'webpage:logout' %}" title="">logout</a></li> -->
                <li><form action="{% url 'webpage:logout' %}" method="POST">{% csrf_token %}<input type="submit" class="btn btn-link" value="{{text}}"/></form></li>

  			      <!-- <ul>
                      <li><a href="components.htm" title="">Components</a></li>
                      <li><a href="blog.htm" title="">Blog</a></li>
                      <li><a href="blog-detail.htm" title="">Blog Detail</a></li>
                      <li><a href="contact.htm" title="">Contact</a></li>
  		         </ul>
               </li>
	           </ul> -->
          </nav>
         </div>
      </div>

{% block content %}{% endblock %}


<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span5">
      <h3>Contact Form</h3>
      <div>
        <form class="form-main" name="ajax-form" id="ajax-form" action="#" method="post">
          <div id="ajaxsuccess">E-mail was successfully sent.</div>
          <div class="error" id="err-name">Please enter name</div>
          <input name="name" id="name" type="text" value="Name" onfocus="if(this.value == 'Name') this.value='';" onblur="if(this.value == '') this.value='Name';">

          <div class="error" id="err-email">Please enter e-mail</div>
          <div class="error" id="err-emailvld">E-mail is not a valid format</div>
          <input  name="email" id="email" type="text" value="E-mail" onfocus="if(this.value == 'E-mail') this.value='';" onblur="if(this.value == '') this.value='E-mail';">

          <div class="error" id="err-message">Please enter message</div>
          <textarea  name="message" id="message" onfocus="if(this.value == 'Message') this.value='';" onblur="if(this.value == '') this.value='Message';">Message</textarea><br>
          <div>
            <div class="error" id="err-form">There was a problem validating the form please check!</div>
            <div class="error" id="err-timedout">The connection to the server timed out!</div>
            <div class="error" id="err-state"></div>
          </div>
          <button id="send" class="btn f-right">Send Message <i class="icon-ok"></i></button>
        </form>
      </div>
      </div>
      <div class="span3 offset3">
        <h3>Address</h3>
        81 Sunnyvale Street<br>
        Los Angeles, CA 90185<br>
        United States<br>
        <br>
        <i class="icon-phone"></i>+01 880 555 999<br>
        <i class="icon-envelope"></i><a href="mailto:support@example.com">support@example.com</a><br>
        <i class="icon-home"></i><a href="#">www.example.com</a>

        <div class="row space40"></div>

        <a href="#" class="social-network sn2 behance"></a>
        <a href="#" class="social-network sn2 facebook"></a>
        <a href="#" class="social-network sn2 pinterest"></a>
        <a href="#" class="social-network sn2 flickr"></a>
        <a href="#" class="social-network sn2 dribbble"></a>
        <a href="#" class="social-network sn2 lastfm"></a>
        <a href="#" class="social-network sn2 forrst"></a>
        <a href="#" class="social-network sn2 xing"></a>
      </div>
    </div>

    <div class="row space50"></div>
    <div class="row">
      <div class="span6">
        <div class="logo-footer">
          Design by <a href="https://www.freshdesignweb.com">freshDesignweb</a>
        </div>
      </div>
      <div class="span6 right">
        &copy; 2020. All rights reserved.
      </div>
    </div>

  </div>
</footer>
<!-- Footer End -->

<!-- JavaScripts -->
<script type="text/javascript" src="{% static 'templateshape/js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templateshape/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templateshape/js/functions.js' %}"></script>
<script type="text/javascript" defer src="{% static 'templateshape/js/jquery.flexslider.js' %}"></script>

</body>
</html>
