{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h3 class="left">Blogs</h3>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Blogs</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>

  <!-- Content -->
  <div id="content">
    <div class="container">
        <div class="row">
          <div class="span12">
            <h3>&nbsp;</h3>
          </div>

          <div class="span9">
            <!-- Blog Detail Content -->
            <div class="row">
              <div class="span1">

                <div class="blog-icon">
                  <i class="icon-camera"></i><br>
                  <h5>Gallery Post</h5>
                </div>

              </div>
              <div class="span8">

                <img src="{% static 'templateshape/img/blog/1.jpg' %}" alt="">

                <div class="post-d-info">
                  <h3>Faworki chocolate cheesecake (Text Post)</h3>
                  <div class="blue-dark">
                  <i class="icon-user"></i> By Admin <i class="icon-tag"></i> Photography | Portrait <i class="icon-comment-alt"></i> With 12 Comments
                  </div>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit ornare sem lacinia quam venenatis vestibulum. Venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia.
                  </p><p>
                  Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.Pie wafer wypas candy canes toffee. Cookie icing candy jelly oat cake chupa chups bear claw topping applicake. Cookie danish dessert pie. Marshmallow wypas dessert. Chocolate cake sweet cotton candy toffee topping lollipop. Gummi bears cake chocolate cake tiramisu sesame snaps.
                  </p>
                  <blockquote>
                  Sugar plum sugar plum liquorice cookie ice cream caramels oat cake dragée. Dessert cookie faworki applicake apple pie. Gingerbread cotton candy icing ice cream applicake wafer powder lemon drops. Jujubes cheesecake marshmallow muffin. Bear claw muffin cotton candy. Sweet roll pie dragée. Caramels gingerbread powder.
                  </blockquote>
                  <p>
                  Candy canes donut macaroon jelly-o icing carrot cake cheesecake. Powder ice cream marshmallow bonbon cupcake. Bear claw sweet roll marzipan macaroon wypas. Gummies donut brownie faworki toffee toffee marshmallow marzipan. Gummies sugar plum brownie macaroon. Wafer chocolate cake topping. Ice cream applicake gummies pastry cookie lollipop. Candy canes gummies cookie lollipop cake. Tootsie roll cookie danish ice cream croissant cotton candy soufflé danish bonbon. Pie gummies oat cake soufflé fruitcake faworki soufflé sesame snaps fruitcake. Caramels macaroon pudding wafer. Cake caramels bonbon chupa chups oat cake candy.
                  </p>
                </div>

                <h3>4 Comments</h3>

                <div class="comment">
                  <div class="comment-author">Jenifer</div>
                  <span class="comment-date">18 Jun, 2012 at 8:24 pm | <a href="#">Reply</a></span><br>
                  Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                </div>

                <div class="comment c-margin-2">
                  <div class="comment-author">Jenifer</div>
                  <span class="comment-date">18 Jun, 2012 at 8:24 pm | <a href="#">Reply</a></span><br>
                  Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                </div>

                <div class="comment c-margin-3">
                  <div class="comment-author">Jenifer</div>
                  <span class="comment-date">18 Jun, 2012 at 8:24 pm | <a href="#">Reply</a></span><br>
                  Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                </div>

                <div class="comment">
                  <div class="comment-author">Jenifer</div>
                  <span class="comment-date">18 Jun, 2012 at 8:24 pm | <a href="#">Reply</a></span><br>
                  Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                </div>

                <div class="comment-title">
                  <h3>Leave a Comment</h3>
                  This comment form is optional.
                </div>

                <div class="row space20"></div>

                <!-- Blog Form -->
                <form class="form-comment" method="post" action="#">
                  <div class="row">
                    <div class="span4">
                      E-mail * (never published)<br>
                      <input type="text" value=""><br>
                    </div>
                    <div class="span4">
                      Name<br>
                      <input type="text" value="">
                    </div>
                  </div>

                  <div class="row">
                    <div class="span8">
                      Message * <br>
                      <textarea></textarea>
                    </div>
                  </div>

                  <div class="row space20"></div>

                  <div class="row">
                    <div class="span4 thank">
                      Thank You for Message!
                    </div>
                    <div class="span4">
                      <button class="btn f-right"><i class="icon-ok"></i> Send Message</button>
                    </div>
                  </div>
                </form>
                <!-- Blog Form End -->
              </div>
            </div>
            <!-- Blog Detail Content End -->
          </div>

          <!-- Side Bar -->
          <div class="span3">

            <h3 class="p-t-0">Search</h3>
            <div class="search-box">
              <a href="#" class="search-icon"><i class="icon-search"></i></a>
              <input class="search" name="" value="Search">
            </div>

            <h3>Categories</h3>
            <ul class="list-c">
              <li><i class="icon-chevron-right"></i><a href="#">Business Plan</a></li>
              <li><i class="icon-chevron-right"></i><a href="#">Entertainment</a></li>
              <li><i class="icon-chevron-right"></i><a href="#">News & Politics</a></li>
              <li><i class="icon-chevron-right"></i><a href="#">Social Media Networks</a></li>
              <li><i class="icon-chevron-right"></i><a href="#">Technology & Innovation</a></li>
            </ul>

            <h3>Tags</h3>
            <a href="#"><div class="tag">WordPress</div></a>
            <a href="#"><div class="tag">Webdesign</div></a>
            <a href="#"><div class="tag">Post-processing</div></a>
            <a href="#"><div class="tag">Tourism</div></a>
            <a href="#"><div class="tag">Rendering</div></a>
            <a href="#"><div class="tag">Photography</div></a>

            <h3>Latest Tweets</h3>
            <i class="icon-twitter"></i> Saying "Wow, You're cool." when you see someone doing something stupid. <a href="#" rel="external">http://t.co/YywnqBb8</a><br>
            6 minutes ago
            <br><br>
            <i class="icon-twitter"></i> Are you getting ready to work on a new project, take off on a sales trip.
            <a href="#" rel="external">http://pic.witt.com.co/Uyoyyk#sp</a><br>
            33 minutes ago

            <h3>Photos From Flickr</h3>
            <div class="flickr-widget">
              <div class="photo-stream">
                <img src="{% static 'templateshape/img/stream/01.jpg' %}" alt="">
              </div>
              <div class="photo-stream">
                <img src="{% static 'templateshape/img/stream/02.jpg' %}" alt="">
              </div>
              <div class="photo-stream">
                <img src="{% static 'templateshape/img/stream/03.jpg' %}" alt="">
              </div>
              <div class="photo-stream">
                <img src="{% static 'templateshape/img/stream/04.jpg' %}" alt="">
              </div>
              <div class="photo-stream">
                <img src="{% static 'templateshape/img/stream/05.jpg' %}" alt="">
              </div>
              <div class="photo-stream">
                <img src="{% static 'templateshape/img/stream/06.jpg' %}" alt="">
              </div>
            </div>

            <h3>Text Widget</h3>
            Amet, consectetur adipisicing elit, sedure doriatlor in fugiat nulla  deserunt mollit anim id est laborum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit orn.

            <div class="row space30"></div>

          <div class="row space50"></div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- Content End -->
