{% extends 'base.html' %}
{% load static%}
{% block content %}
<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h3 class="left">Components</h3>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Components</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>
  <!-- Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>H2 We have the latest proven technology</h2>
          <h3>H3 We have the latest proven technology</h3>
          <h4>H4 We have the latest proven technology</h4>
          <div class="row">
            <div class="span6">
              <h3>Buttons</h3>
              <button class="btn">Button</button>
              <button class="btn btn-gray">Read Me</button>
              <button class="btn btn-blue">Send Message</button>
              <br>
              <button class="btn"><i class="icon-ok"></i> Button</button>
              <button class="btn btn-gray"><i class="icon-ok"></i> Read More</button>
              <button class="btn btn-blue"><i class="icon-ok"></i> Send</button>
              <br>
              <button class="btn"><i class="icon-umbrella"></i> Button</button>
              <button class="btn btn-gray"><i class="icon-book"></i> Contact Us</button>
              <button class="btn btn-blue"><i class="icon-user"></i> Settings</button>
            </div>
            <div class="span6">
              <h3>Regular Table</h3>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Head 01</th>
                    <th>Head 02</th>
                    <th>Head 03</th>
                    <th>Head 04</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Data 01</td>
                    <td>Data 01</td>
                    <td>Data 01</td>
                    <td>Data 01</td>
                  </tr>
                  <tr>
                    <td>Data 02</td>
                    <td>Data 02</td>
                    <td>Data 02</td>
                    <td>Data 02</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row space20"></div>

          <div class="row">
            <div class="span12">
              <h3>Icons Awesome</h3>
            </div>
          </div>

          <div class="row icons-s1 blue-dark">
            <div class="span1">
              <i class="icon-refresh"></i>
            </div>
            <div class="span1">
              <i class="icon-leaf"></i>
            </div>
            <div class="span1">
              <i class="icon-shopping-cart"></i>
            </div>
            <div class="span1">
              <i class="icon-lock"></i>
            </div>
            <div class="span1">
              <i class="icon-search"></i>
            </div>
            <div class="span1">
              <i class="icon-map-marker"></i>
            </div>
            <div class="span1">
              <i class="icon-envelope"></i>
            </div>
            <div class="span1">
              <i class="icon-comment"></i>
            </div>
            <div class="span1">
              <i class="icon-cloud"></i>
            </div>
            <div class="span1">
              <i class="icon-retweet"></i>
            </div>
            <div class="span1">
              <i class="icon-pushpin"></i>
            </div>
            <div class="span1">
              <i class="icon-magnet"></i>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row icons-s2 blue">
            <div class="span1">
              <i class="icon-refresh"></i>
            </div>
            <div class="span1">
              <i class="icon-leaf"></i>
            </div>
            <div class="span1">
              <i class="icon-shopping-cart"></i>
            </div>
            <div class="span1">
              <i class="icon-lock"></i>
            </div>
            <div class="span1">
              <i class="icon-search"></i>
            </div>
            <div class="span1">
              <i class="icon-map-marker"></i>
            </div>
            <div class="span1">
              <i class="icon-envelope"></i>
            </div>
            <div class="span1">
              <i class="icon-comment"></i>
            </div>
            <div class="span1">
              <i class="icon-cloud"></i>
            </div>
            <div class="span1">
              <i class="icon-retweet"></i>
            </div>
            <div class="span1">
              <i class="icon-pushpin"></i>
            </div>
            <div class="span1">
              <i class="icon-magnet"></i>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row icons-s3">
            <div class="span1">
              <i class="icon-refresh"></i>
            </div>
            <div class="span1">
              <i class="icon-leaf"></i>
            </div>
            <div class="span1">
              <i class="icon-shopping-cart"></i>
            </div>
            <div class="span1">
              <i class="icon-lock"></i>
            </div>
            <div class="span1">
              <i class="icon-search"></i>
            </div>
            <div class="span1">
              <i class="icon-map-marker"></i>
            </div>
            <div class="span1">
              <i class="icon-envelope"></i>
            </div>
            <div class="span1">
              <i class="icon-comment"></i>
            </div>
            <div class="span1">
              <i class="icon-cloud"></i>
            </div>
            <div class="span1">
              <i class="icon-retweet"></i>
            </div>
            <div class="span1">
              <i class="icon-pushpin"></i>
            </div>
            <div class="span1">
              <i class="icon-magnet"></i>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row icons-s4 blue2">
            <div class="span1">
              <i class="icon-refresh"></i>
            </div>
            <div class="span1">
              <i class="icon-leaf"></i>
            </div>
            <div class="span1">
              <i class="icon-shopping-cart"></i>
            </div>
            <div class="span1">
              <i class="icon-lock"></i>
            </div>
            <div class="span1">
              <i class="icon-search"></i>
            </div>
            <div class="span1">
              <i class="icon-map-marker"></i>
            </div>
            <div class="span1">
              <i class="icon-envelope"></i>
            </div>
            <div class="span1">
              <i class="icon-comment"></i>
            </div>
            <div class="span1">
              <i class="icon-cloud"></i>
            </div>
            <div class="span1">
              <i class="icon-retweet"></i>
            </div>
            <div class="span1">
              <i class="icon-pushpin"></i>
            </div>
            <div class="span1">
              <i class="icon-magnet"></i>
            </div>
          </div>

          <div class="row space50"></div>

          <div class="row">
            <div class="span6">
              <h3>Accordion</h3>
            </div>
            <div class="span6">
              <h3>Tabs</h3>
            </div>
          </div>

          <div class="row">
            <div class="span6">

              <!-- Accordion -->
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Information #1
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      Officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptah ultricies vehat a ante veere velit aliquet.Pie wafer wypas candy canes toffee. Co adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Dlit ors vestibulum.
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Information #2
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                      Pie wafer wypas candy canes toffee. Co adipisicing elit, sed do. Chocolate cake sweet cotton candy toffee topping lollipop. Eeiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in repreh adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Information #3
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      Dolore magna aliqua. Duis aute irure dolor in repreh adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptaenderit in voluptaokie icing candy jelly oat cake chupa chups bear claw topping applicake. Cookie danish dessert pie. Marshmallow wypas dessert. Chocolate cake sweet cotton candy .
                    </div>
                  </div>
                </div>
              </div>
              <!-- Accordion End -->

            </div>
            <div class="span6">

            <!-- Tabs -->
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <h3>I'm in Section 1</h3>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exeinim veniam, quis nostrud exerci tation ullamcorper susc nostrudexerci tation ullamcoramcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendinim veniam, quis nostrud exerci tation ullamcorper suscipit lobrerit in vul</p>
                </div>
                <div class="tab-pane" id="tab2">
                  <h3>I'm in Section 2</h3>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcinim veniam, quis nostrud exerci tation ullamcorper t lobortis nisl ut alisequat. Duis autem vel einim veniam, quis nostrud exerinim veniam, quis nostrud exerci tation ullamcorper suscipit lobci tation ullamcorper suscipit lobum iriure dolor in hendrerit in vul</p>
                </div>
                <div class="tab-pane" id="tab3">
                  <h3>I'm in Section 3</h3>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea coiipit lobmmodo consequat. Duis autem vel eum iriure dolor in hendrerit in vinim veniam, quis nostrud einim veniam, quis nostrud exerci tation ullamcorper suscipit lobxerci tation ullamcorper suscipit lobul</p>
                </div>
              </div>
            </div>
            <!-- Tabs End -->

            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span12">
              <h3>Services</h3>
            </div>
          </div>

          <div class="row">
            <div class="span4">
              <div class="ic-1"><i class="icon-lightbulb"></i></div>
              <div class="title-1"><h4>Powerful clean design</h4></div>
              <div class="text-1">
                On sait depuis longake apple pie. Gingerbread cotton candy icing ice cream applicake wafetemps nnaire de plus de 200 mots pluskan rlatin
              </div>
            </div>
            <div class="span4">
              <div class="ic-1"><i class="icon-resize-small"></i></div>
              <div class="title-1"><h4>Fully responsive</h4></div>
              <div class="text-1">
                Iil utilise un dictionnaire de plus de 200 mots kan rlarem as Ipsumtiotins, en combiake apple pie. Gingerbread icing ice cream applicake wafenaison.
              </div>
            </div>
            <div class="span4">
              <div class="ic-1"><i class="icon-eye-open"></i></div>
              <div class="title-1"><h4>Retina Ready</h4></div>
              <div class="text-1">
                Contrairement à une opinion répandue, Lorem as Ipsumtionnaire de plus n'est pas simplake apple pie. Gingerbread cotton  ice cream applicake wafeement.
              </div>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
              <div class="span12">
                <h3>Our Team</h3>
              </div>
            </div>

            <div  class="slider2 flexslider">
              <ul class="slides">
                <li>
                  <div class="row">

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/1.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Business Solutions</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/2.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Visions and Future</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/3.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Time Management</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/4.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Enjoying Victories</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                  </div>
                </li>
                <li>
                  <div class="row">

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/3.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Business Solutions</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/4.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Visions and Future</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/1.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Time Management</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                    <a href="#">
                      <div class="span3 square-1">
                        <div class="img-container">
                          <img src="{% static 'templateshape/img/our-team/2.jpg' %}" alt="">
                          <div class="img-bg-icon"></div>
                        </div>
                        <h4>Enjoying Victories</h4>
                          Mauris sit amet ligula est, eget it conseact etur lectus
                      </div>
                    </a>

                  </div>
                </li>
              </ul>
            </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span4">
              <h3>List</h3>
              <ul class="list-a">
                <li>Le Aorem Ipsum ainsi obtenu ne seeng elit.</li>
                <li>Contrairement à Lorem n'est aliquet mollis.</li>
                <li>On sait depuis travailler cotà une opinion.</li>
                <li>Al contrario di quaon enodio, quis fringilla.</li>
                <li>Sopravvissuto non solo velor iaculis.</li>
                <li>Sait depuis longtendue gravida porttitor.</li>
              </ul>
            </div>

            <div class="span4">
              <h3>List 2</h3>
              <ul class="list-b">
                <li><i class="icon-ok"></i>State clasraises on table rows.</li>
                <li><i class="icon-ok"></i>Improved disabled states on navs.</li>
                <li><i class="icon-ok"></i>The navbar component is now by default.</li>
                <li><i class="icon-ok"></i>Improved prepended and appended inputs.</li>
                <li><i class="icon-ok"></i>New base font-size and line-height.</li>
                <li><i class="icon-ok"></i>Dentum velitue gravivs on table rows.</li>
                <li><i class="icon-ok"></i>Improved disabled states on navs.</li>
              </ul>
            </div>

            <div class="span4">
              <h3>Progress Bar</h3>
              <div class="progress">
                <div class="bar" style="width: 73%;">HTML/CSS 73%</div>
              </div>
              <div class="progress">
                <div class="bar" style="width: 100%;">Web Design 100%</div>
              </div>
              <div class="progress">
                <div class="bar" style="width: 78%;">Photography 78%</div>
              </div>
              <div class="progress">
                <div class="bar" style="width: 80%;">Sound Design 80%</div>
              </div>
              <div class="progress">
                <div class="bar" style="width: 63%;">Party 63%</div>
              </div>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span12">
              <h3>Social Icons</h3>
              <a href="#" class="social-network aim"></a>
              <a href="#" class="social-network amazon"></a>
              <a href="#" class="social-network apple"></a>
              <a href="#" class="social-network behance"></a>
              <a href="#" class="social-network blogger"></a>
              <a href="#" class="social-network delicious"></a>
              <a href="#" class="social-network deviantart"></a>
              <a href="#" class="social-network digg"></a>
              <a href="#" class="social-network dribbble"></a>
              <a href="#" class="social-network ebay"></a>
              <a href="#" class="social-network evernote"></a>
              <a href="#" class="social-network facebook"></a>
              <a href="#" class="social-network feedburner"></a>
              <a href="#" class="social-network flickr"></a>
              <a href="#" class="social-network forrst"></a>
              <a href="#" class="social-network foursquare"></a>
              <a href="#" class="social-network github"></a>
              <a href="#" class="social-network google"></a>
              <a href="#" class="social-network gowalla"></a>
              <a href="#" class="social-network icq"></a>
              <a href="#" class="social-network itunes"></a>
              <a href="#" class="social-network lastfm"></a>
              <a href="#" class="social-network linkedin"></a>
              <a href="#" class="social-network meetup"></a>
              <a href="#" class="social-network myspace"></a>
              <a href="#" class="social-network newsvine"></a>
              <a href="#" class="social-network openid"></a>
              <a href="#" class="social-network paypal"></a>
              <a href="#" class="social-network picasa"></a>
              <a href="#" class="social-network pinterest"></a>
              <a href="#" class="social-network posterous"></a>
              <a href="#" class="social-network reddit"></a>
              <a href="#" class="social-network rss"></a>
              <a href="#" class="social-network skype"></a>
              <a href="#" class="social-network slashdot"></a>
              <a href="#" class="social-network soundcloud"></a>
              <a href="#" class="social-network stumbleupon"></a>
              <a href="#" class="social-network technorati"></a>
              <a href="#" class="social-network tumblr"></a>
              <a href="#" class="social-network twitter"></a>
              <a href="#" class="social-network viddler"></a>
              <a href="#" class="social-network vimeo"></a>
              <a href="#" class="social-network virb"></a>
              <a href="#" class="social-network wordpress"></a>
              <a href="#" class="social-network xing"></a>
              <a href="#" class="social-network yahoo"></a>
              <a href="#" class="social-network yelp"></a>
              <a href="#" class="social-network youtube"></a>
              <a href="#" class="social-network zerply"></a>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span4">
              <h3>Client Says</h3>

              <div class="client-says">
                “Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas. Aliquam at erat in purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. posuere vel vitae  elementum velit nibh.”
              </div>
              <div class="client-says-2">
                <div class="quotes">
                  <i class="icon-quote-right"></i>John Doe, Everton Inc.
                </div>
              </div>
            </div>

            <div class="span8">
              <h3>Alerts</h3>

              <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error!</strong> Change a few things up and try submitting again.
              </div>

              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> You successfully read this important alert message.
              </div>

              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Heads up!</strong> This alert needs your attention.
              </div>

              <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
              </div>

            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span6">
              <h3>Tooltips</h3>
              <p>Cras consequat porttitor tincidunt. Praesent eu <a href="#" data-toggle="tooltip" data-placement="top" title="This is tooltip 1.">tincidunt&nbsp;lacus</a>. Donec ut neque vitae erat congue venenatis. Duis hendrerit lacinia leo in dignissim. Aliquam erat volutpat. <a href="#"  data-toggle="tooltip" data-placement="top" title="This is tooltip 2.">Sed&nbsp;dignissim</a> hendrerit nibh, quis faucibus erat cursus eget. Plum liquorice cookie ice cream caramels oat cake dragée. <a href="#"  data-toggle="tooltip" data-placement="top" title="This is tooltip 3.">Integer&nbsp;porta</a> nisl vitae felis rutrum ut mollis felis congue.</p>
            </div>
            <div class="span6">
              <h3>Blockquote</h3>
              <blockquote>
                Sugar plum sugar plum liquorice cookie ice cream caramels oat cake dragée. Dessert cookie faworki applicake apple pie. Gingerbread cotton candy icing ice cream applicake wafer powder lemon drops. Jujubes cheesecake marshmallow muffin. Bear claw muffin cotton candy. Sweet roll pie dragée. Caramels gingerbread powder.
              </blockquote>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span6">
              <h3>Recent Projects</h3>

              <div class="slider2 flexslider">
                <ul class="slides">
                  <li>
                    <img src="{% static 'templateshape/img/gallery/04.jpg' %}" alt="">
                	</li>
                	<li>
                    <img src="{% static 'templateshape/img/gallery/02.jpg' %}" alt="">
                	</li>
                	<li>
                    <img src="{% static 'templateshape/img/gallery/07.jpg' %}" alt="">
                  </li>
                </ul>
              </div>
            </div>

            <div class="span6">
              <h3>Testimonials</h3>

              <div class="slider2 flexslider">
                <ul class="slides">
                  <li>
                    <div class="testimonials">
                      1 De nombreuses suites logicielles consequat porttitor tincidunt. Praesent eu tincidunt lacus. Donec ut neque vitae erat congue venenatis. Duis hendrerit lacinia leo in dignissim. Aliquam erat volutpat. Sed dignissim hendrerit nibh, quis faucibus erat cursus eget. Plum liquorice cookie ice cream caramels oat cake dragée. Integer porta nisl vitae felis rutrum ut mollis felis congue. de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en sont encore qu'à leur phase de.
                      <br /><br />
                      <strong>Marco Derianti</strong><br />
                      software developer
                    </div>
                	</li>
                	<li>
                    <div class="testimonials">
                      2 De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vo consequat porttitor tincidunt. Praesent eu tincidunt lacus. Donec ut neque vitae erat congue venenatis. Duis hendrerit lacinia leo in dignissim. Aliquam erat volutpat. Sed dignissim hendrerit nibh, quis faucibus erat cursus eget. Plum liquorice cookie ice cream caramels oat cake dragée. Integer porta nisl vitae felis rutrum ut mollis felis congue.us conduira vers de asolen nombreux sites qui n'en sont encore qu'à leur phase de.
                      <br /><br />
                      <strong>Bertocucci Feranzano</strong><br />
                      assistent
                    </div>
                	</li>
                	<li>
                    <div class="testimonials">
                      3 De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en s consequat porttitor tincidunt. Praesent eu tincidunt lacus. Donec ut neque vitae erat congue venenatis. Duis hendrerit lacinia leo in dignissim. Aliquam erat volutpat. Sed dignissim hendrerit nibh, quis faucibus erat cursus eget. Plum liquorice cookie ice cream caramels oat cake dragée. Integer porta nisl vitae felis rutrum ut mollis felis congue.ont encore qu'à leur phase de.
                      <br /><br />
                      <strong>Dr. Kozmold</strong><br />
                      producer
                    </div>
                  </li>
                	<li>
                    <div class="testimonials">
                      4 De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, etina une recherche pour 'Lorem Ipsum' vous conduira vers de asolen nombreux sites qui n'en sont encore qu consequat porttitor tincidunt. Praesent eu tincidunt lacus. Donec ut neque vitae erat congue venenatis. Duis hendrerit lacinia leo in dignissim. Aliquam erat volutpat. Sed dignissim hendrerit nibh, quis faucibus erat cursus eget. Plum liquorice cookie ice cream caramels oat cake dragée. Integer porta nisl vitae felis rutrum ut mollis felis congue.'à leur phase de.
                      <br /><br />
                      <strong>Pineapple Jack</strong><br />
                      project manager
                    </div>
        	    		</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row space30"></div>

          <div class="row">
            <div class="span12">
              <h3>Our Clients</h3>
            </div>
          </div>

  <div id="our-clients" class="slider2 flexslider">
        <ul class="slides">
          <li>
            <div class="row">
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/1.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/2.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/3.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/4.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/5.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/6.png' %}" alt="">
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/4.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/3.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/1.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/2.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/5.png' %}" alt="">
                </a>
              </div>
              <div class="span2">
                <a href="#" rel="external">
                    <img src="{% static 'templateshape/img/our-clients/6.png' %}" alt="">
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Our Clients End -->

          <div class="row space30"></div>

          <h3>Pricing Tables</h3>

          <div class="row pricing-tables">
            <div class="span3">
              <table>
                <thead>
                  <tr>
                    <th>
                      <div class="plan-title">
                        Basic Plan
                      </div>
                      <div class="price">
                        $19
                        <span class="price2">
                          monthly
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      $0
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $25
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $45
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Unlimited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td class="table-footer">
                      Select Plan
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="span3">
              <table>
                <thead>
                  <tr>
                    <th>
                      <div class="plan-title">
                        Standard Plan
                      </div>
                      <div class="price">
                        $49
                        <span class="price2">
                          monthly
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      $0
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $20
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $36
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Limited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      200 MB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-footer">
                      Select Plan
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="span3">
              <table class="active">
                <thead>
                  <tr>
                    <th>
                      <div class="plan-title">
                        Premium Plan
                      </div>
                      <div class="price">
                        $69
                        <span class="price2">
                          monthly
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      $0
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $45
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $65
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Unlimited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Unlimited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ---
                    </td>
                  </tr>
                  <tr>
                    <td class="table-footer">
                      Select Plan
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="span3">
              <table>
                <thead>
                  <tr>
                    <th>
                      <div class="plan-title">
                        Extra Plan
                      </div>
                      <div class="price">
                        $99
                        <span class="price2">
                          monthly
                        </span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      $0
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $25
                    </td>
                  </tr>
                  <tr>
                    <td>
                      $45
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Unlimited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Unlimited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Unlimited
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6 GB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <i class="icon-ok"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-footer">
                      Select Plan
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row space100"></div>

        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- Content End -->
