{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'templateshape/css/bootstrap.min.css' %}"/>
<h1>Login page </h1>

<form action="{% url 'webpage:login_page' %}" method="POST" class="form-control">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Login Page"/>
</form>
