{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'templateshape/css/bootstrap.min.css' %}"/>
<h1>Signup Page </h1>
<form action="{% url 'webpage:signup_page' %}" method="POST" class="form-group,align">
  {% csrf_token %}

  {{form}}

  <input type="submit" value="Register"/>

</form>
